body{
	background-color: #89B9FB;
}


.header {
	margin-top: 5%;
	text-align: center;
	font-size: 25px;
}

.top{
	margin-left: 10%;
	margin-top: 5%;
}

.Project {
	margin-top: 10%;
	margin-left: 15%;
}